.message {
    margin-left: 1300px;
}

.imageAndText {

}

.imageAndText img {
    width: 70px;
    height: 70px;
}

.text {
    width: 50px;
    height: 30px;
}

.text:after {

}

.name {
    width: 50px;
    height: 30px;
}

.messageText {

}

.time {
    width: 50px;
    height: 30px;
}